<footer class="main-footer">
  <strong>Copyright &copy; 2017.</strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="~$jsUrl`/summernote.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="dist/js/adminlte.min.js"></script>
<script src="~$jsUrl`/script.js"></script>
</body>
</html>
